theme: jekyll-theme-modernist
title: ENMAKK Knowledge Hub
description: Articles, Guides & Resources by ENMAKK
logo: /assets/images/enmakk-logo.png

collections:
  articles:
    output: true

defaults:
  - scope:
      path: ""
    values:
      layout: default
